
body{
    background-color: rgb(67, 72, 111) ;	 
}



.bg-customF{
    background-color: rgb(67, 72, 111) ;
}
.bg-customH{
    background-color: rgb(33, 37, 41) ;
}
.modal-body{
    background-color: rgb(43, 47, 51) ;
}